<div class="container-fluid home-content">
    <h3 class="title-home-content">Usuarios Connectados</h3>

    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Cuenta</th>
            <th>Email</th>
            <th>Tipo de Cuenta</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in user.connectedUsers">
            <td>{{ user.name }}</td>
            <td>{{ user.login }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.type }}</td>
        </tr>
        </tbody>
    </table>
</div>
