<div class="container-fluid home-content">
    <h3 class="title-home-content">Pedidos</h3>
    <form name="orderForm">
        <div class="col-sm-3 form-group">
            <label for="description">Descripcion</label>
            <input type="text" name="descripcion" id="description" class="form-control"
                   ng-model="order.item.description" placeholder="Descripcion" required>
        </div>
        <div class="col-sm-3 form-group">
            <label for="clientName">Cliente</label>
            <input type="text" name="clientName" id="clientName" class="form-control"
                   ng-model="order.item.clientName" placeholder="Nombre" required>
        </div>

        <div class="col-sm-3 form-group">
            <label for="description">NIT</label>
            <input type="text" name="nit" class="form-control"
                   ng-model="order.item.nit" placeholder="NIT" required>
        </div>

        <div class="col-sm-3 form-group">
            <label for="description">Telefono</label>
            <input type="number" name="phone" class="form-control"
                   ng-model="order.item.phone" placeholder="Telefono" required>
        </div>

        <div class="col-sm-3 form-group">
             <button class="btn btn-primary" ng-click="order.save()" ng-disabled="orderForm.$invalid">Register</button>
        </div>
    </form>

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Descripcion</th>
                <th>Telefono</th>
                <th>Asignado</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in order.items">
                <td>{{ item.clientName }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.phone }}</td>
                <td><button ng-click="order.assign(item)">Asignar</td>
            </tr>
        </tbody>
    </table>
</div>
