document/*.log
document/*.toc
document/*.pdf
document/*.aux
document/*.lot
document/*.lof
document/*.out
document/icons/
document/figures/design graphic/
.idea
code/client
code/build
credentials
install-environment.txt
npm-debug.log
.gitignore~


