<div class="container-fluid home-content">
    <h3 class="title-home-content">Empleados</h3>
    <form name="employeeForm" class="form-inline">
        <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" name="name" id="name" class="form-control"
                   ng-model="employee.item.name" placeholder="Nombre Empleado" required>
        </div>
        <div class="form-group">
            <label for="address">Direccion:</label>
            <input type="text" name="address" id="nit" class="form-control"
                   ng-model="employee.item.address" placeholder="Direccion" required>
        </div>
        <div class="form-group">
            <label for="phone">Telefono:</label>
            <input type="text" name="phone" id="phone" class="form-control"
                   ng-model="employee.item.phone" placeholder="Telefono" required>
        </div>
        <div class="form-group col-md-6">
                        <label for="type" ng-class="{ 'text-danger': employeeForm.type.$touched && !employeeForm.pavilion.$valid}">Oficio:</label>
                        <select type="" name="type" id="type" class="form-control"
                                ng-model="employee.item.type" placeholder="Tipo Empleado" required>
                            <option>Vendedor</option>
                            <option>Azafata</option>
                        </select>
        </div>
                    
        <div class="form-group">
            <button class="btn btn-primary" ng-click="employee.save()" ng-disabled="employeeForm.$invalid">Register</button>
        </div>
    </form>

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Oficio</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in employee.items">
                <td>{{ item.name }}</td>
                <td>{{ item.address }}</td>
                <td>{{ item.phone }}</td>
                <td>{{ item.type }}</td>
            </tr>
        </tbody>
    </table>
</div>
