<div class="container-fluid employees-view">
    <h3 class="title-home-content">Empleados</h3>
    <div class="panel panel-default">
        <div class="panel-heading">
            Registrar empleados
        </div>
        <div class="panel-body">
            <form name="employeeForm">
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <label for="name"
                               ng-class="{ 'text-danger': employeeForm.name.$touched && !employeeForm.name.$valid }">
                            Nombre:
                        </label>
                        <input type="text" name="name" id="name" class="form-control"
                               ng-model="employee.item.name" placeholder="Nombre Empleado" required>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <label for="address"
                               ng-class="{ 'text-danger': employeeForm.address.$touched && !employeeForm.address.$valid }">
                            Direccion:
                        </label>
                        <input type="text" name="address" id="address" class="form-control"
                               ng-model="employee.item.address" placeholder="Direccion" required>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2">
                    <div class="form-group">
                        <label for="phone"
                               ng-class="{ 'text-danger': employeeForm.phone.$touched && !employeeForm.phone.$valid }">
                            Telefono:
                        </label>
                        <input type="text" name="phone" id="phone" class="form-control"
                               ng-model="employee.item.phone" placeholder="Telefono" required>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2">
                    <div class="form-group">
                        <label for="type" ng-class="{ 'text-danger': employeeForm.type.$touched && !employeeForm.type.$valid}">Oficio:</label>
                        <select type="" name="type" id="type" class="form-control"
                                ng-model="employee.item.type" placeholder="Tipo Empleado" required>
                            <option>Vendedor</option>
                            <option>Azafata</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">

                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="employee.save()" ng-disabled="employeeForm.$invalid">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Oficio</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in employee.items">
            <td>{{ item.name }}</td>
            <td>{{ item.address }}</td>
            <td>{{ item.phone }}</td>
            <td>{{ item.type }}</td>
        </tr>
        </tbody>
    </table>
</div>
