<div class="container-fluid">
    <h2 class="text-muted">Pedidos</h2>
    <div class="row">
        <div class="col-lg-6">

            <form role="form">
                <fieldset class="form-group">
                    <label>Cliente</label>
                    <input class="form-control" placeholder="Enter text">
                </fieldset>

                <fieldset class="form-group">
                    <label>Text area</label>
                    <textarea class="form-control" rows="3"></textarea>
                </fieldset>

            

                <button type="submit" class="btn btn-secondary">Registrar</button>
                <button type="reset" class="btn btn-secondary">Cancelar</button>

            </form>

        </div>
    </div>
    <div class="row">
        <div class="card card-block">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-inverse">
                            <tr>
                                <th>#</th>
                                <th>Cliente</th>
                                <th>NIT / CI</th>
                                <th>Telefono</th>
                                <th>Direccion</th>
                                <th>Descripcion Pedido</th>
                                <th>Asignado</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>8291231</td>
                                <td>4567833</td>
                                <td>Av. Eco</td>
                                <td>Pollos Kindom 2</td>
                                <td>Moto 1</td>
                                <td>Registrado</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Mark</td>
                                <td>8291231</td>
                                <td>4567833</td>
                                <td>Av. Eco</td>
                                <td>Pollos Kindom 2</td>
                                <td>Moto 1</td>
                                <td>En Camino</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Mark</td>
                                <td>8291231</td>
                                <td>4567833</td>
                                <td>Av. Eco</td>
                                <td>Pollos Kindom 2</td>
                                <td>Moto 1</td>
                                <td>Entregado</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>
