<div class="container-fluid home-content">
    <h3 class="title-home-content">Tiendas</h3>
    <form name="storeForm" class="form-inline">
        <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" name="name" id="name" class="form-control"
                   ng-model="store.item.name" placeholder="Nombre Empresa" required>
        </div>
        <div class="form-group">
            <label for="address">Direccion:</label>
            <input type="text" name="address" id="address" class="form-control"
                   ng-model="store.item.address" placeholder="Direccion" required>
        </div>
        <div class="form-group">
            <label for="latidude">Latitud:</label>
            <input type="text" name="latitude" id="latitude" class="form-control"
                   ng-model="store.item.position.latitude" placeholder="Latitud" required>
                   <label for="longitud">Longitud:</label>
            <input type="text" name="longitud" id="longitud" class="form-control"
                   ng-model="store.item.position.longitude" placeholder="Longitud" required>
            <button class="btn btn-info">Mapa</button>>
        </div>
        
        <div class="form-group">
            <button class="btn btn-primary" ng-click="store.save()" ng-disabled="storeForm.$invalid">Register</button>
        </div>
    </form>

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Ubicacion</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in store.items">
                <td>{{ item.name }}</td>
                <td>{{ item.address }}</td>
                <td>{{ item.position.latitude }} {{ item.position.longitude }}</td>
            </tr>
        </tbody>
    </table>
</div>
